@use 'variaveis';

.header {
    color: variaveis.$corDeTexto;
    background-color: variaveis.$corDeFundo;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header, .header__logo, .header__burguer {
            opacity: 0;
            visibility: hidden;
            transition: opacity .5s ease;

            @media (max-width: 768px) {
                .material-symbols-outlined {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .5s ease;
                }

            }
        }
    }
    
    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
            justify-items: center;
        }
    }

    &__logo {
        max-width: 250px;
        width: 100%;
        margin: 5px;
    }

    &__links {
        display: flex;

        @media (max-width: 768px) {
            display: none;
        }
        
        &__item {
            margin: 5px;
            list-style-type: none;
            
            .button {
                height: 50px;
                text-decoration: none;
                color: variaveis.$corDeTexto;

                @media (max-width: 768px) {
                    height: auto;
                    font-size: 14px;
                    display: block;
                }
            }
        }
    }
}