@use 'variaveis';

.header {
    color: variaveis.$corDeTexto;
    position: sticky;
    top: 0;
    left: 0;
    visibility: hidden;
    
    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        max-width: 200px;
        width: 100%;
        margin: 5px;
    }

    &__links {
        display: flex;
        
        
        &__item {
            margin: 5px;
            list-style-type: none;
            
            .button {
                height: 50px;
                text-decoration: none;
                color: variaveis.$corDeTexto;
            }
        }
    }
}