@use 'variaveis';
@use 'hero';
@use 'header';
@use 'shows';

@font-face {
    font-family: WizardWorld;
    src: url(../../assets/fonts/WizardWorldSimplified.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variaveis.$corDeTexto;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    font-family: WizardWorld;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corDeTexto;
    background-color: variaveis.$corDeFundo;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corRoxa;

    &__secundary {
        font-size: 12px;
        margin-right: 12px;
        width: 10vw;
    }

    &__shows {
        color: variaveis.$corDeTexto;
        background-color: variaveis.$corDeFundo;
        font-weight: bold;
        border: none;
        border-bottom: 5px solid transparent;
        cursor: pointer;

        &:hover {
            transform: scale(1.10);
        }
    }

    &:hover {
        background-color: variaveis.$corRoxa;
    }
}

.image-news {
    padding: 0 5.6vw 5.6vw;
    padding-top: calc(5.6vw + 50px);
    display: block;
    position: relative;
    text-align: end;
    
    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        position: relative;
        top: -40px;
        padding-right: 16px;

        &:hover {
            font-size: 20px;
        }
    }

    img {
        padding: 24px 0 0;
        width: 100%;
    }
}