@use 'variaveis';
@use 'hero';
@use 'header';
@use 'shows';

@font-face {
    font-family: WizardWorld;
    src: url(../../assets/fonts/WizardWorldSimplified.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variaveis.$corDeTexto;
}

body {
    background-color: variaveis.$corDeFundo;
}

.menu {
    display: block;
    align-items: center;
    justify-content: space-between;

    #burguer {
        color: variaveis.$corDeTexto;
        cursor: pointer;
        display: none;
        padding: 0 18px;
    
        @media (max-width: 768px) {
            display: block;
            text-align: center;
        }
    }
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    font-family: WizardWorld;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;
    
    @media (max-width: 768px) {
        @include text(14px);
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corDeTexto;
    background-color: variaveis.$corDeFundo;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corRoxa;

    &__secundary {
        font-size: 12px;
        margin-right: 12px;
        width: 10vw;
    }

    &:hover {
        background-color: variaveis.$corRoxa;
    }
}

.image-news {
    padding: 0 5.6vw;
    padding-top: calc(5.6vw + 50px);
    display: block;
    position: relative;
    text-align: end;

    @media (max-width: 768px) {
        padding-top: calc(5.6vw + 175px);
    }
    
    h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        position: relative;
        top: -40px;
        padding-right: 16px;

        &:hover {
            font-size: 20px;
        }
    }

    img {
        padding: 24px 0 0;
        width: 100%;
    }
}

footer {
    justify-items: center;
    align-content: center;
    background-color: darken($color: variaveis.$corDeFundo, $amount: 2%);
    height: 50px;
}